
header{
    background: #c2ebce;
    padding: 40px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.principal{
    background: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 40px;
    font-size: 33px;
    display: inline;
    margin: 0 0 0 145px;
    position: absolute;
    top: 110px;
    right: 0;
    
}
.titulo-centralizado{
    text-align: center; 
    font-size: 22px;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
em strong{
    color: #FF0000;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
    padding: 20px;
}
.listamisao{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 100px;
}
.imagembeneficios{
    width: 50%;
}